# Copy to .env and fill in
# --- MLFlow Config ---
MLFLOW_TRACKING_URI=https://ice-mlflow-admin:PASSWORD@<server-ip>/mlflow
MLFLOW_TRACKING_INSECURE_TLS=true
MLFLOW_TRACKING_USERNAME=your_name

# --- Data Access ---
# Local Dev: might need localhost port forwarding
# Server: uses internal docker network or localhost
POSTGRES_CONNECTION_URI=postgresql://user:pass@localhost:5432/my_project_db

# Path to raw data (Allows switching between /mnt/local and /srv/datasets)
DATASET_DIR=./data/samples